name: Run Pytest on PR

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  test:
    name: test on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@e58605a9b6da7c637471fab8847a5e5a6b8df081 # v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-suffix: test

      - run: uv sync --all-packages
      - run: uv run pytest

  static-analysis:
    name: static analysis
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@e58605a9b6da7c637471fab8847a5e5a6b8df081 # v5
        with:
          python-version: "3.10"
          enable-cache: true
          cache-suffix: static-analysis
      - run: uv sync --all-packages
      - run: uv run ruff check . --config pyproject.toml
      - run: uv run ruff format --check --diff . --config pyproject.toml
      - run: uv run ty check --output-format github